body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: #0f0f0f;
}

#zegar {
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 8px solid #333;
    border-radius: 50%;
    font-size: 3em;
    color: green; /* Zmieniamy kolor godziny na zielony */
    background: #fff;
    margin: 40px auto;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
}