:root {
    --background-color: #fff; /* Tło jasne */
    --text-color: #0f0f0f; /* Tekst ciemny */
    --zegar-border-color: #333; /* Obramowanie zegara */
    --zegar-background: #fff; /* Tło zegara */
    --zegar-text-color: green; /* Kolor godziny */
}

/* Tryb ciemny */
.dark-mode {
    --background-color: #0f0f0f; /* Tło ciemne */
    --text-color: #fff; /* Tekst jasny */
    --zegar-border-color: #aaa; /* Obramowanie zegara jaśniejsze */
    --zegar-background: #333; /* Tło zegara ciemniejsze */
    --zegar-text-color: lime; /* Kolor godziny jaśniejszy */
}

/* Stylowanie elementów z użyciem zmiennych */
body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s; /* Płynna zmiana trybu */
}

#zegar {
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 8px solid var(--zegar-border-color);
    border-radius: 50%;
    font-size: 3em;
    color: var(--zegar-text-color);
    background: var(--zegar-background);
    margin: 40px auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

@media (max-width: 600px) {
    #zegar {
        width: 90vw;
        height: 90vw;
        font-size: 2em;
        margin: 20px auto;
    }
    #toggle-theme {
        font-size: 1.2em;
        padding: 12px 24px;
        margin-top: 10px;
        width: 90vw;
        max-width: 300px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    body {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding-top: 30px;
        height: 100vh;
    }
}

@media (prefers-color-cheme: dark) {
    body {
        background-color: var(--background-color);
        color: var(--text-color);
    }
    #zegar {
        border-color: var(--zegar-border-color);
        background: var(--zegar-background);
        color: var(--zegar-text-color);
    }
}